* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ropa Sans', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
.logo{
    height: 64px;
    margin-left: 8px;
    margin-top: 1px;
}
.botoesHeader{
    background: #54539c;
    border-radius: 7px;
    padding: 10px;
    color: #ffff;
    border: none;
    font-size: 18px;
    margin-right: 24px;
    position: absolute;
    right: 0px;
    top: calc(50% - 25px);
}
.botoesHeader:hover{
  background-color: #7C78A8;
}
header > .containerHeader > nav > ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
header > .containerHeader > nav > ul > li{
    display: inline-block;
}
header > .containerHeader > nav > ul > li > a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
header > .containerHeader > nav > ul > li > a:hover{
  background-color: #7C78A8;
}
.containerHeader{
  max-width: 1360px;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
header{
    /* display: flex;
    align-items: center; */
    height: 66px;
    background-color:  #07001F;
    /* position: relative; */
    /* max-width: 1360px; */
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
main{
    background-color: rgb(33,48,70);
    background-color: linear-gradient(180deg, rgba(33,48,70,1) 70%, rgba(23,36,55,0.78) 90%, rgba(48,80,129,0.68) 100%);
    height: 1600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.containerFooter{
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}
.site-footer{
  background-color:#07001F;
  padding:20px 13px 20px 13px;
  font-size:16px;
  color: white;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.linha1{
    display: flex;
}
.linha2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col1{
    width: 650px;
    text-align: justify;
    margin-right: 50px;
}
.col2{
    width: 200px;
}
.col3{
    width: 200px;
}
.site-footer hr{
  border-top-color:#7C78A8;
  opacity:0.5;
}
.site-footer hr.small
{
  margin:20px 0;
}
.site-footer h6
{
  color:white;
  font-size:20px;
  text-transform:uppercase;
  margin-top:0px;
  margin-bottom: 0;
}
.footer-links{
  padding-left: 0;
  list-style: none;
}
.footer-links li{
  display: block;
}
.footer-links a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
  color:#7C78A8;
  text-decoration :none;
}

.site-footer .social-icons a{
  width:40px;
  height:40px;
  margin-left:8px;
  border-radius:100%;
  display:inline-block;
  border-radius:100%;
}
.copyright-text{
  margin: 0;
}
.social-icons{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}
.social-icons li{
  display:inline-block;
}
.facebook{
  background-image: url("https://seeklogo.com/images/F/facebook-logo-966BBFBC34-seeklogo.com.png");
  background-size: cover;
}
.instagram{
  background-image: url("https://seeklogo.com/images/I/instagram-logo-3368394263-seeklogo.com.jpg");
  background-size: cover;
}
.whatsapp{
  background-image: url("https://seeklogo.com/images/W/whatsapp-icon-logo-BDC0A8063B-seeklogo.com.png");
  background-size: cover;
}