* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ropa Sans', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
.logo{
    height: 64px;
    margin-left: 8px;
    margin-top: 1px;
}
.botoesHeader{
    background: #54539c;
    border-radius: 7px;
    padding: 10px;
    color: #ffff;
    border: none;
    font-size: 18px;
    margin-right: 24px;
    position: absolute;
    right: 0px;
    top: calc(50% - 20px);
}
.botoesHeader:hover{
  background-color: #7C78A8;
}
header > .containerHeader > nav > ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
header > .containerHeader > nav > ul > li{
    display: inline-block;
}
header > .containerHeader > nav > ul > li > a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
header > .containerHeader > nav > ul > li > a:hover{
  background-color: #7C78A8;
}
.containerHeader{
  max-width: 1360px;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
header{
    /* display: flex;
    align-items: center; */
    height: 66px;
    background-color:  #07001F;
    /* position: relative; */
    /* max-width: 1360px; */
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
main{
    background-color: rgb(33,48,70);
    background-color: linear-gradient(180deg, rgba(33,48,70,1) 70%, rgba(23,36,55,0.78) 90%, rgba(48,80,129,0.68) 100%);
    max-width: 100%;
    height: 1700px;
    margin-left: auto;
    margin-right: auto;
}

.pai{         /*.pai é a div vermelha  */
  display: grid;
  margin-left: 780px;
  margin-right: auto;
  margin-top: 65px;
  height: 700px;
  width: 1310px;
  background-color: red;
  grid-template-columns: 1fr 1fr 900px 500px;
  grid-template-rows:   1fr 1fr 1fr 1fr  ;
  font-size: 30px;
  gap: 4px;
}
.pai div:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1 ;
  grid-row-end: 4 ;
  
 }
 
 .pai div:nth-child(2){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4 ;
  grid-row-end: 5 ;
  
 }

 .pai div:nth-child(3){
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4 ;
  grid-row-end: 5 ;
  

 }

 .pai div:nth-child(4){
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4 ;
  grid-row-end: 5 ;
  justify-content: space-between;  
  
 }

 .pai div:nth-child(5){
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1 ;
  grid-row-end: 5 ;
  background-color: green;

 }


.p1{
  color: white;
  position: absolute;
  left: 780px;
  top:95px;
  font-size: 25px;

}
.p2{
  color: white;
  position: absolute;
  left: 780px;
  top: 130px;
  font-size: 60px;
}
.ptexto{
  color:white;
  font-size: 20px;
  text-align: justify;
}

.reta{ /* 1º Div das 3 frases*/
  background-color:rgb(52, 62, 90);
  position:absolute;
  top: 920px;
  left: 770px;
  width: 1430px;
  height: 60px;
  display: flex;
  ;
}

.rp1{  /*frase lista de desejos */
  position: absolute;
  left: 0px;
  top: 15px;
  color: white;
  font-size: 30px;
}
.rp2{    /*frase A seguir */
  position: absolute;
  left: 240px;
  top: 15px;
  color: white;
  font-size: 30px;
}

.rp3{    /*frase Ignorar */
  position: absolute;
  left: 370px;
  top: 15px;
  color: white;
  font-size: 30px;
}


.rp4{  /*frase ver sua lista */
  position: absolute;
  left: 1260px;
  top: 20px;
  color: white;
  font-size: 30px;
}
 .img1{
   height: 510px;
   width: 970px;
   margin-left: 3px;
   margin-top: 3px;
 }
 .img2{
  height: 150px;
  width: 290px;
  margin-left: 5px;
  margin-top: 3px;
  
  
}
.img3{
  height: 150px;
  width: 290px;
  margin-left: 10px;
  margin-top: 3px;
  margin-left: 15px;
}
.img4{
  height: 150px;
  width: 290px;
  margin-left: 10px;
  margin-top: 3px;
  margin-left: 15px;
}
 

.img5{
  height: 250px;
  width: 490px;
  margin-left: 7px;
  margin-top: 3px;
}

.chn{ /* 2ª Div da frase Comprar Hollow Knight */
  background-color: rgb(52, 62, 90) ;
  color:white;
  font-size: 40px;
  position: absolute;
  top: 1020px;
  height: 60px;
  left: 770px;
  width: 1430px;
}
.comprar{ /*frase Comprar Hollow Knight */
  color: white;
  font-size: 40px;
  position: absolute;
  left: 0px;
  top: 5px;
}
p{
  margin: 0px;
}

.ofertas{  /*3ª Div - Ofertas */
  background: rgb(52, 62, 90);
  position: absolute;
  top: 1110px;
  left: 770px;
  width: 1430px;
  height: 60px;
}
.p_ofertas{   /*frase Ofertas  */
  color:white;
  font-size: 40px;
  position: absolute;
  top: 5px;
  left: 0px;

}

.esquerda{   
  background-color:yellow;
  width: 25%;
  position: absolute;
  left: 770px;
  top: 1210px;
  height: 400px;
  background-color: rgb(52, 62, 90);
  
}
.direita{
  background-color: pink;
 width: 645px;
 position: absolute;
 left: 1550px;
 top: 1210px;
 height: 400px;
 background-color:rgb(52, 62, 90)
 
}








.containerFooter{
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}
.site-footer{
  background-color:#07001F;
  padding:20px 13px 20px 13px;
  font-size:16px;
  color: white;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.linha1{
    display: flex;
}
.linha2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col1{
    width: 650px;
    text-align: justify;
    margin-right: 50px;
}
.col2{
    width: 200px;
}
.col3{
    width: 200px;
}
.site-footer hr{
  border-top-color:#7C78A8;
  opacity:0.5;
}
.site-footer hr.small
{
  margin:20px 0;
}
.site-footer h6
{
  color:white;
  font-size:20px;
  text-transform:uppercase;
  margin-top:0px;
  margin-bottom: 0;
}
.footer-links{
  padding-left: 0;
  list-style: none;
}
.footer-links li{
  display: block;
}
.footer-links a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
  color:#7C78A8;
  text-decoration :none;
}

.site-footer .social-icons a{
  width:40px;
  height:40px;
  margin-left:8px;
  border-radius:100%;
  display:inline-block;
}
.copyright-text{
  margin: 0;
}
.social-icons{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}
.social-icons li{
  display:inline-block;
}
.facebook{
  background-image: url("https://seeklogo.com/images/F/facebook-logo-966BBFBC34-seeklogo.com.png");
  background-size: cover;
}
.instagram{
  background-image: url("https://seeklogo.com/images/I/instagram-logo-3368394263-seeklogo.com.jpg");
  background-size: cover;
}
.whatsapp{
  background-image: url("https://seeklogo.com/images/W/whatsapp-icon-logo-BDC0A8063B-seeklogo.com.png");
  background-size: cover;
}




@media (max-width: 540px){
  .logo{
    height: 24px;
    margin-left: 1px;
    margin-top: 1px;
  }
  .botoesHeader{
    font-size: 11px;
    margin-right: 2px;
    position: absolute;
    right: 0px;
    top: 4px;
    border-radius: 4px;
    padding: 3px;
  }
  header > .containerHeader > nav > ul > li > a{
    padding: 4px 4px;
    color: white;
    font-size: 11px;
  }
  header{
    height: 25px;
  }

  .site-footer{
    padding:10px 7px 10px 7px;
    font-size:8px;
  }
  .col1{
    width: 60%;
    margin-right: 8px;
  }
  .col2{
    width: 20%;
  }
  .col3{
    width: 20%;
  }
  site-footer hr.small{
    margin:5px 0;
  }
  .site-footer h6{
    font-size:9px;
  }
  .footer-links a{
    font-size: 8px;
  }
  .site-footer .social-icons a{
    width:16px;
    height:16px;
    margin-left:4px;
  }
}
@media (max-width: 1359px){
  .logo{
    height: 34px;
    margin-left: 1px;
    margin-top: 1px;
  }
  .botoesHeader{
    font-size: 14px;
    margin-right: 4px;
    right: 2px;
    top: calc(50% - 11px);
    border-radius: 10px;
    padding: 3px;
  }
  header > .containerHeader > nav > ul > li > a{
    padding: 6px 6px;
    color: white;
    font-size: 14px;
  }
  header{
    height: 36px;
  }

  .site-footer{
    padding:10px 7px 10px 7px;
    font-size:10px;
  }
  .col1{
    width: 60%;
    margin-right: 16px;
  }
  .col2{
    width: 15%;
  }
  .col3{
    width: 25%;
  }
  site-footer hr.small{
    margin:8px 0;
  }
  .site-footer h6{
    font-size:11px;
  }
  .footer-links a{
    font-size: 10px;
  }
  .site-footer .social-icons a{
    width:20px;
    height:20px;
    margin-left:8px;
  }
}