* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#itemsWrapper {
  width: 100vw;
}

#items {
  display: flex;
  overflow-x: auto;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.item {
  flex: none;
  width: 100%;
  height: 350px;
  scroll-snap-align: start;
  pointer-events: none;
}

.categorias {
  height: 66px;
  max-width: 1390px;
  margin-top: 16px;
  background-color: #07001f;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
main > .categorias > nav > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
main > .categorias > nav > ul > li {
  display: inline-block;
}
main > .categorias > nav > ul > li > a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
main > .categorias > nav > ul > li > a:hover {
  background-color: #7c78a8;
}
.boxBuscar {
  background-color: white;
  width: 573px;
  height: 40px;
  border-radius: 20px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: gray;
  text-indent: 16px;
}
main > .categorias > img {
  position: absolute;
  width: 24px;
  right: 40px;
}
.boxCentral {
  max-width: 1360px;
  height: 1000px;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.headStreaming {
  display: flex;
  width: 1200px;
  margin-right: 8px;
}
div > h4 {
  text-align: left;
  font-size: larger;
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
  padding-bottom: 10px;
  padding-left: 5px;
}
div > p {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  padding-left: 5px;
}
div > #seguir {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  margin-top: 100px;
  margin-left: 5px;
  border-radius: 8%;
  border-style: none;
  align-items: center;
  padding: 8px;
  background-color: rgba(7, 0, 31, 0.46);
}
div > #seguir:hover{
  background-color: #7c78a8;
}
div > #seguir > img {
  width: 25px;
  padding-left: 5px;
}
main > .boxCentral > .headStreaming > .jogosheadStreaming > img {
  width: 265px;
  border-radius: 20px 20px 0 0;
}
.jogosheadStreaming {
  height: 230px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 20px;
  display: flex;
  text-decoration: none;
}
main > .boxCentral > img {
  width: 80px;
  border-radius: 40px;
  margin-left: 16px;
  margin-right: 16px;
}
main > .boxCentral > img {
  width: 20px;
}

/* Código Carrossel */
/* .mySlides {
  display: none;
} */
/* img {
  vertical-align: middle;
} */

/* Slideshow container */
.slideshow-container {
  max-width: 1360px;
  position: relative;
  left: 260px;
  margin: auto;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 20px);
  width: auto;
  padding: 16px;
  margin-top: -32px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  top: -20px;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 540px) {
  .dot {
    height: 8px;
    width: 8px;
    top: -16px;
  }
  .prev,
  .next {
    top: 50%;
    padding: 8px;
    font-size: 14px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  .categorias {
    height: 25px;
    margin-top: 0px;
    margin-top: 0px;
  }
  main > .categorias > nav > ul > li > a {
    padding: 4px 4px;
    font-size: 11px;
  }
  .boxBuscar {
    width: 95px;
    height: 16px;
    margin-right: 2px;
    font-size: 10px;
    text-indent: 4px;
  }
  main > .categorias > img {
    position: absolute;
    width: 12px;
    right: 8px;
  }

  .boxCentral {
    max-width: 100%;
    height: auto;
  }
  .headStreaming {
    width: 70%;
    margin-left: 2px;
    margin-right: 2px;
  }
  main > .boxCentral > .headStreaming > .jogosheadStreaming > img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .jogosheadStreaming {
    height: auto;
    width: 49%;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
  }
  .jogosheadStreaming > h3 {
    margin-bottom: 1px;
    margin-left: 1px;
    font-size: xx-small;
  }

  main > .boxCentral > img {
    width: 40px;
    border-radius: 20px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
  }

  main > .boxCentral > img {
    width: 10px;
  }
}
@media (max-width: 1359px) and (min-width: 541px) {
  .dot {
    height: 8px;
    width: 8px;
    top: -16px;
  }
  .prev,
  .next {
    top: 50%;
    padding: 8px;
    font-size: 14px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  .categorias {
    height: 36px;
    margin-top: 0px;
    margin-top: 0px;
  }
  main > .categorias > nav > ul > li > a {
    padding: 6px 6px;
    font-size: 14px;
  }
  .boxBuscar {
    width: 225px;
    height: 24px;
    margin-right: 2px;
    font-size: 12px;
    text-indent: 8px;
  }
  main > .categorias > img {
    position: absolute;
    width: 16px;
    right: 8px;
  }
  .boxCentral {
    max-width: 100%;
    height: auto;
  }
  .headStreaming {
    width: 80%;
    margin-left: 2px;
    margin-right: 2px;
  }
  main > .boxCentral > .headStreaming > .jogosheadStreaming > img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .jogosheadStreaming {
    height: auto;
    width: 32%;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
  }
  .jogosheadStreaming > h3 {
    margin-bottom: 1px;
    margin-left: 1px;
    font-size: x-small;
  }

  main > .boxCentral > img {
    width: 40px;
    border-radius: 20px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
  }
  main > .boxCentral > img {
    width: 10px;
  }
}
