* {
  margin: 0;
  padding: 0;
}
main {
  height: 2000px;
}
.categorias {
  height: 66px;
  max-width: 1360px;
  margin-top: 16px;
  background-color: #07001f;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 35px;
}
main > .categorias > nav > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
main > .categorias > nav > ul > li {
  display: inline-block;
}
main > .categorias > nav > ul > li > a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
main > .categorias > nav > ul > li > a:hover {
  background-color: #7c78a8;
}
.boxBuscar {
  background-color: white;
  width: 573px;
  height: 40px;
  border-radius: 20px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: gray;
  text-indent: 16px;
}
main > .categorias > img {
  position: absolute;
  width: 24px;
  right: 40px;
}
.boxCentral {
  max-width: 1360px;
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}
.emAlta {
  display: flex;
  height: 100%;
  /* justify-content: flex-start; */
  margin-right: auto;
  padding-left: 15px;
}
main > div > .emAlta > img {
  width: 170px;
  height: 200px;
  border-radius: 20px;
}
h3 {
  font-size: larger;
  color: #fff;
}
p {
  color: #fff;
}
h3 > p {
  display: flex;
  flex-wrap: wrap;
}
div > .textJogo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 5px;
}
div > .seguir {
  width: 40%;
  color: #fff;
  border-radius: 8px;
  border-style: none;
  align-items: center;
  margin-bottom: 5px;
  padding: 8px;
  padding-left: 5px;
  background-color: rgba(7, 0, 31, 0.46);
}
div > .seguir:hover {
  background-color: #7c78a8;
}
div > .seguir > img {
  width: 25px;
  height: 20px;
}
.blocoCarrossel {
  display: flex;
  flex-direction: column;

}
.blocoCarrossel > #Aovivo{
  display: flex;
  justify-content: space-around;
}
h3 > img {
  width: 30px;
  height: 30px;
}
.Live {
  display: flex;
  width: 325px;
  height: 178px;
  outline: 5px solid black;
  overflow: hidden;
  margin: 50px auto;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}
.Live > ul {
  display: flex;
  list-style: none;
  width:1300px;
  height: 180px;
}
.Live li{
  position: relative;
  animation: slide 15s infinite ease-out;
}

@keyframes slide{
  0%{left: 0px}
  15%{left: 0px}
  25%{left: -325px}
  40%{left: -325px}
  50%{left: -650px}
  65%{left: -650px}
  75%{left: -975px}
  90%{left: -975px}
  100%{left: 0px}
}
.gamePlay {
  display: flex;
  width: 360px;
  height: 200px;
  outline: 4px solid black;
  overflow: hidden;
  margin: 50px auto;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}
.gamePlay > ul {
  display: flex;
  list-style: none;
  width:1300px;
  height: 180px;
}
.gamePlay li{
  position: relative;
  animation: slide1 15s infinite ease-out;
}

@keyframes slide1{
  0%{left: 0px}
  15%{left: 0px}
  25%{left: -360px}
  40%{left: -360px}
  50%{left: -720px}
  65%{left: -720px}
  75%{left: -1080px}
  90%{left: -1080px}
  100%{left: 0px}
}


/* Código Carrossel */
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1360px;
  position: relative;
  margin: auto;
  width: 1000px;
  transform-style: preserve-3d ;
  box-shadow: 33px 0 15px #07001f, -33px 0 15px #07001f;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 20px);
  width: auto;
  padding: 16px;
  margin-top: -32px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  top: -20px;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

