<%- include('parts/head',{title:'Game Traders'}); %>
    <link rel="stylesheet" href="css/estiloIndex.css"><!-- Seu estilo CSS aqui -->
    <main>
        <div class="slideshow-container">

            <div class="mySlides fade">
              <img src="./img/hollow_knight.jpeg" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <img src="./img/rdr-banner.jpg" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <img src="./img/gow-banner.jfif" style="width:100%">
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides()">&#10095;</a>
            
            <div class="dots-Container">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
            
            <script>
            var slideIndex = 1;
            showSlides(slideIndex);
            
            setInterval(plusSlides, 10000);

            function plusSlides(n = 1) {
              showSlides(slideIndex += n);
            }
            
            function currentSlide(n) {
              showSlides(slideIndex = n);
            }
            
            function showSlides(n) {
              var i;
              var slides = document.getElementsByClassName("mySlides");
              var dots = document.getElementsByClassName("dot");
              if (n > slides.length) {slideIndex = 1}    
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";  
              }
              for (i = 0; i < dots.length; i++) {
                  dots[i].className = dots[i].className.replace(" active", "");
              }
              slides[slideIndex-1].style.display = "block";  
              dots[slideIndex-1].className += " active";
            }
            </script>
        </div>
        <form class = "categorias" method="GET" action="/filtro">
            <nav>
                <ul>
                    <% plataformas.forEach(plataforma => { %>
                      <li><a href="/filtro/c/<%= plataforma.dataValues.id %>"><%= plataforma.dataValues.plataforma_jogo %></a></li>
                    <% }) %>
                </ul>
            </nav>
            <input class = "boxBuscar" name="busca" placeholder="Buscar" autocomplete="off">
            <img src="./img/lupa.png" alt="">
        </form>
        <div class = "titulosBoxes">
          <h2 class = "t1">JOGOS EM ALTA</h2>
          <h2 class = "t2">TOP VENDEDORES</h2>
        </div>
        <div class = "boxCentral">
          <div class = "emAlta">
            <a class = "jogosEmAlta" href="/produto">
              <img src="./img/CoD.jpg" alt="">
              <h3>CoD Infinite Warfare <br> Lançamento: 2016</h3>
            </a>
            <a class = "jogosEmAlta" href="/produto">
              <img src="./img/gow.jpg" alt="">
              <h3>God of War <br> Lançamento: 2018</h3>
            </a>
            <a class = "jogosEmAlta" href="/produto">
              <img src="./img/mk.jpg" alt="">
              <h3>Mortal Kombat 11 <br> Lançamento: 2019</h3>
            </a>
            <a class = "jogosEmAlta" href="/produto">
              <img src="./img/redead.jpeg" alt="">
              <h3>Red Dead Redemption II <br> Lançamento: 2018</h3>
            </a>
            <a class = "jogosEmAlta" href="/produto">
              <img src="./img/valhalla.jpg" alt="">
              <h3>Assassin's Creed Valhalla <br> Lançamento: 2020</h3>
            </a>
            <a class = "jogosEmAlta" href="/produto">
              <img src="./img/zelda.jpeg" alt="">
              <h3>The Legend od Zelda <br> Lançamento: 2017</h3>
            </a>
            <a class = "jogosEmAlta" href="/produto">
              <img src="./img/hollow-knight.jpg" alt="">
              <h3>Hollow Knight<br> Lançamento: 2017</h3>
            </a>
            <a class = "jogosEmAlta" href="/produto">
              <img src="./img/fc6.jpg" alt="">
              <h3>Far Cry 6 <br> Lançamento: 2021</h3>
            </a>
            <a class = "jogosEmAlta" href="/produto">
              <img src="./img/new-world_xduc.jpg" alt="">
              <h3>New World <br> Lançamento: 2021</h3>
            </a>
            <a class = "jogosEmAlta" href="/produto">
              <img src="./img/among.jpg" alt="">
              <h3>Among Us <br> Lançamento: 2018</h3>
            </a>
            <a class = "jogosEmAlta" href="/produto">
              <img src="./img/hzd.jpg" alt="">
              <h3>Horizon Zero Dawn <br> Lançamento: 2017</h3>
            </a>
            <a class = "jogosEmAlta" href="/produto">
              <img src="./img/skyrim.jpg" alt="">
              <h3>The Elder Scrolls V: Skyrim <br> Lançamento: 2011</h3>
            </a>
          </div>
          <div class = "topVendedores">
            <a class = "imgVendedores" href="">
              <img src="./img/vend1.jpg" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 1</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend2.jfif" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 2</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend3.png" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 3</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend4.jpg" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 4</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend5.jpg" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 5</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend6.jpg" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 6</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend7.jpg" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 7</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend8.jpg" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 8</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend9.png" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 9</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend10.jpg" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 10</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
          </div>
        </div>
    </main>
<%- include('parts/foot'); %>