<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/estiloLogin.css">
</head>
<body>

    <div class="container" id="container">
        <div class="form-container sign-up-container">
            
            <form method="POST" action="/login/cadUsuario" enctype="multipart/form-data">
                <h1>Crie uma Conta</h1>
                <div class="social-container">
                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="instagram"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="google"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>ou use seu email para se cadastrar</span>

                <div class="wrapper">
                    <input type="file" name="foto-usuario" id="foto-usuario" accept="'image/*'" style="display: none;">
                    <button class="no-image" id="img-result">Upload Image</button>
                </div>

                <div class="row-container">
                    <label for="nome_usuario">Nome</label>
                    <input name="nome_usuario" id="nome_usuario" type="text" placeholder="Insira seu nome completo"/>
                </div>
                <div class="row-container">
                    <label for="cpf_usuario">CPF</label>
                    <input name="cpf_usuario" id="cpf_usuario" type="text" placeholder="Insira seu CPF" maxlength="14"/>
                </div>
                <div class="row-container">
                    <label for="email_usuario">Email</label>
                    <input name="email_usuario" id="email_usuario" type="email" placeholder="Insira seu email"/>
                </div>
                <div class="row-container">
                    <label for="telefone_usuario">Telefone</label>
                    <input name="telefone_usuario" id="telefone_usuario" type="tel" placeholder="Insira seu telefone"/>
                    <label for="data_nasc_usuario">Nasc.</label>
                    <input name="data_nasc_usuario" id="data_nasc_usuario" type="date"/>
                </div>
                <div class="row-container">
                    <label for="senha_usuario">Senha</label>
                    <input name="senha_usuario" id="senha_usuario" type="password" placeholder="Crie uma senha"/>
                </div>
                <button type="submit">Cadastrar</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Entrar</h1>
                <div class="social-container">
                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="instagram"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="google"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>ou use sua conta</span>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Senha" />
                <a href="#">Esqueceu sua senha?</a>
                <button>Entrar</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Bem vindo de volta!</h1>
                    <p>Para se manter conectado, faça o login com seus dados</p>
                    <button class="ghost" id="signIn">Entrar</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Bem Vindo!</h1>
                    <p>Cadastre-se e comece uma jornada conosco!</p>
                    <button class="ghost" id="signUp">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    </script>
    <script>
        let cpf = document.getElementById('cpf');

        cpf.addEventListener('keypress', () => {
            let cpfLength = cpf.value.length;
            if(cpfLength === 3 || cpfLength === 7){
                cpf.value += '.';
            }else if(cpfLength === 11){
                cpf.value += '-';
            };
        });
    </script>
    <script>
        let image = document.getElementById('img-result');
        let uploader = document.getElementById('foto-usuario');

        image.addEventListener('click', evt => {
            evt.preventDefault();
            uploader.click();
        })

        uploader.onchange = function () {
            var reader = new FileReader();
            reader.onload = function (evt) {
                image.classList.remove("no-image");
                image.style.backgroundImage = "url(" + evt.target.result + ")";
            };
            reader.readAsDataURL(uploader.files[0]);
        };
    </script>
</body>
</html>