<%- include('parts/head',{title:'Game Traders'}); %>
    <link rel="stylesheet" href="css/estiloForum.css"><!-- Seu estilo CSS aqui -->
    <main>
      <div class="container">
        <div class="entrada-forum">
          <div class="titulo-forum">
            <h1>Sejam bem-vindos ao Fórum do GameTraders</h1>
          </div>
          <div class="forum-descricao">
            <p>Para uma boa convivência entre os participantes, leia as nossas <b>Regras de Conduta</b>.
              Desrespeitos não serão tolerados. Se notar alguma quebra de nossas diretrizes, converse com nossos moderadores.
              
              <br><br>
              Sed et diam ac diam dignissim egestas a nec est. Curabitur consectetur orci scelerisque cursus tincidunt. Pellentesque tempor venenatis enim, ac efficitur felis sollicitudin ac. Pellentesque non dolor aliquam, finibus lorem eget, porttitor eros. </p>
          </div>

          <!-- <div class="forum-estatisticas"> -->
            <!-- <span>33 posts | 9 tópicos</span> -->
          <!-- </div> -->
          <!-- <div class="forum-info"> -->
            <!-- <b>Último post</b> por <b>Link</b> -->
            <!-- <br> -->
            <!-- <small> 23 de Novembro de 2021</small> -->
          <!-- </div> -->

          <div class="login-forum">
              <div class="form-forum-entrar">
                  <form action="#">
                      <div>
                        <label for="username">Nome de Usuário:</label>
                        <input type="text" id="username" name="username" placeholder="Nome de usuário">
                    </div>
                    
                    <div>
                        <label for="password">Senha (mínimo de 8 caracteres):</label>
                        <input type="password" id="password" placeholder="Senha" name="password"
                               minlength="8" required>
                    </div>
                    
                    <input type="submit" value="Entrar">
                    
                  </form>
              </div>
            </div>
          </div>
      </div>


          <div class="conversas-forum">
            <div class="conversa-um"><h1>Lançamentos da E3</h1>
              <h2>Participantes</h2>
            <p>Integer eget dapibus odio. Duis ante risus, elementum nec massa non, ultricies feugiat erat. Aenean sagittis quam non metus consectetur malesuada. Duis mollis commodo commodo. </p></div>
            <div class="conversa-dois"><h1>Cyberpunk 2077</h1>
              <h2>Participantes</h2>
              <p>Integer eget dapibus odio. Duis ante risus, elementum nec massa non, ultricies feugiat erat. Aenean sagittis quam non metus consectetur malesuada. Duis mollis commodo commodo. </p>
            <div class="conversa-tres"><h1>Nintendo</h1>
              <h2>Participantes</h2>
              <p>Integer eget dapibus odio. Duis ante risus, elementum nec massa non, ultricies feugiat erat. Aenean sagittis quam non metus consectetur malesuada. Duis mollis commodo commodo. </p>
            <div class="conversa-quatro"><h1>Regras de Conduta do Fórum</h1>
              <h2>Participantes</h2>
              <p>Integer eget dapibus odio. Duis ante risus, elementum nec massa non, ultricies feugiat erat. Aenean sagittis quam non metus consectetur malesuada. Duis mollis commodo commodo. </p>
            <div class="conversa-cinco"><h1>Stream</h1>
              <h2>Participantes</h2>
              <p>Integer eget dapibus odio. Duis ante risus, elementum nec massa non, ultricies feugiat erat. Aenean sagittis quam non metus consectetur malesuada. Duis mollis commodo commodo. </p>
          </div>

          <div class="topicos-quentes">
            <div class="topico-um">Novo</div>
            <div class="topico-dois">Dois</div>
            <div class="topico-tres">Três</div>
            <div class="topico-quatro">Quatro</div>
            <div class="topico-cinco">Cinco</div>
            <div class="topico-seis">Seis</div>
            <div class="topico-sete">Sete</div>
            <div class="topico-oito">Oito</div>
            <div class="topico-nove">Nove</div>
            <div class="topico-dez">Dez </div>
          </div>


        <!-- <div class = "categorias"> -->
            <!-- <nav> -->
                <!-- <ul> -->
                    <!-- <li><a href="">PC</a></li> -->
                    <!-- <li><a href="">XBOX</a></li> -->
                    <!-- <li><a href="">PLAYSTATION</a></li> -->
                    <!-- <li><a href="">NINTENDO</a></li> -->
                    <!-- <li><a href="">INDIES</a></li> -->
                <!-- </ul> -->
            <!-- </nav> -->
            <!-- <div class = "boxBuscar">Buscar</div> -->
            <!-- <img src="./img/lupa.png" alt=""> -->
        <!-- </div> -->
        <!-- <div class = "titulosBoxes">
          <h2 class = "t1">JOGOS EM ALTA</h2>
          <h2 class = "t2">TOP VENDEDORES</h2>
        </div>
        <div class = "boxCentral"> -->
          <!-- <div class = "emAlta"> -->
            <!-- <a class = "jogosEmAlta" href="./pagProdutos.html"> -->
              <!-- <img src="./img/CoD.jpg" alt="">
              <h3>CoD Infinite Warfare <br> Lançamento: 2016</h3>
            </a>
            <a class = "jogosEmAlta" href="./pagProdutos.html">
              <img src="./img/gow.jpg" alt="">
              <h3>God of War <br> Lançamento: 2018</h3>
            </a>
            <a class = "jogosEmAlta" href="./pagProdutos.html">
              <img src="./img/mk.jpg" alt="">
              <h3>Mortal Kombat 11 <br> Lançamento: 2019</h3>
            </a>
            <a class = "jogosEmAlta" href="./pagProdutos.html">
              <img src="./img/redead.jpeg" alt="">
              <h3>Red Dead Redemption II <br> Lançamento: 2018</h3>
            </a>
            <a class = "jogosEmAlta" href="./pagProdutos.html">
              <img src="./img/valhalla.jpg" alt="">
              <h3>Assassin's Creed Valhalla <br> Lançamento: 2020</h3>
            </a>
            <a class = "jogosEmAlta" href="./pagProdutos.html">
              <img src="./img/zelda.jpeg" alt="">
              <h3>The Legend od Zelda <br> Lançamento: 2017</h3>
            </a>
            <a class = "jogosEmAlta" href="./pagProdutos.html">
              <img src="./img/hollow-knight.jfif" alt="">
              <h3>Hollow Knight<br> Lançamento: 2017</h3>
            </a>
            <a class = "jogosEmAlta" href="./pagProdutos.html">
              <img src="./img/fc6.jpg" alt="">
              <h3>Far Cry 6 <br> Lançamento: 2021</h3>
            </a>
            <a class = "jogosEmAlta" href="./pagProdutos.html">
              <img src="./img/new-world_xduc.jpg" alt="">
              <h3>New World <br> Lançamento: 2021</h3>
            </a>
            <a class = "jogosEmAlta" href="./pagProdutos.html">
              <img src="./img/among.jpg" alt="">
              <h3>Among Us <br> Lançamento: 2018</h3>
            </a>
            <a class = "jogosEmAlta" href="./pagProdutos.html">
              <img src="./img/hzd.jpg" alt="">
              <h3>Horizon Zero Dawn <br> Lançamento: 2017</h3>
            </a>
            <a class = "jogosEmAlta" href="./pagProdutos.html">
              <img src="./img/skyrim.jpg" alt="">
              <h3>The Elder Scrolls V: Skyrim <br> Lançamento: 2011</h3>
            </a>
          </div> -->
          <!-- <div class = "topVendedores">
            <a class = "imgVendedores" href="">
              <img src="./img/vend1.jpg" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 1</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend2.jfif" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 2</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend3.png" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 3</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend4.jpg" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 4</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend5.jpg" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 5</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend6.jpg" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 6</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend7.jpg" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 7</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend8.jpg" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 8</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend9.png" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 9</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
            <a class = "imgVendedores" href="">
              <img src="./img/vend10.jpg" alt="">
              <div class = "reputVendedor">
                <h2>Vendedor 10</h2>
                <img src="./img/estrela_verde.png" alt="">
                <h2>999 Vendas</h2>
              </div>
            </a>
          </div>
        </div> -->
    </main>
<%- include('parts/foot'); %>