<%- include('parts/head',{title:'Game Traders'}); %>
    <link rel="stylesheet" href="/css/pagProdutos.css"><!-- Seu estilo CSS aqui -->
    <main>
        <p class="p1">Todos os jogos > xbox > índice > hollow knigth</p>
        <p class="p2">Hollow Kight</p>
        <p>jasdlçkj</p>
        <p>jasdlçkj</p>
        <p>jasdlçkj</p>
        <p>jasdlçkj</p>
        <div class="pai">
            <div><img src="/img/hollow-knight3.jpg" class="img1"></div>
            <div></div>
            <div></div>
            <div><img src="/img/images (1).jpg" class="img2"><img src="/img/imgvermelha.jpg" class="img3"><img src="/img/imgverde.jfif" class="img4"></div>
            <div><img src="/img/hollow-knight3.jpg" class="img5">
              <p class="ptexto">Hollow Knight é um jogo indie de gênero metroidvania desenvolvido e publicado pela Team Cherry. No jogo, um cavaleiro sem nome explora um reino em ruínas, habitado por insetos, para livrá-lo de uma infecção causada por um deus esquecido. Wikipédia
                Data de lançamento inicial: 24 de fevereiro de 2017
                Motor: Unity
                Desenvolvedor: Team Cherry
                Modo: Jogo eletrônico para um jogador
                Plataformas: PlayStation 4, Nintendo Switch, Xbox One, macOS, Linux.</p>
            
            </div>
        </div>
        <div class="reta">
          <p class="rp1">Lista de desejos</p>
          <p class="rp2">Seguir</p>
          <p class="rp3">Ignorar</p>
          <p class="rp4">ver a sua lista</p>
        </div>   
        <div class="chn">     
          <p class="segundaDiv">Comprar Hollow Kight</p>
             <div class="divPreta">
                <p class="p3">R$ 99,99</p>
             </div>  <!--Frase Melhor Oferta R$ 9,99 -->
                    <div class="divVerde">
                       <p class="palavraCarrinho">+Carrinho</p>
                   </div>  <!-- ícone +carrinho -->
        </div>
        <p class="melhorOferta">Melhor Oferta</p>
        <div class="terceiraDiv">
        <p class="p_ofertas">Ofertas</p>
        </div> 
        <img src="/img/tag.png" class="tag">
      
        <div class="DivPaiVendedores">
             <div class="titulos">
                 <p>Vendedor</p>
                 <p>Classificação</p>
                 <p>Vendas</p>
                 <p >Preço</p>
                 <p>Filtrar por:</p>
                 <p class="menorPreco" >Menor Preço</p>
            </div>
            <img src="/img/botões.png" class="botao">   
            
            <div class="games">Games
                        
              <p class="classificacao">99,80%</p>
              <p class="vendas">12,74</p>
              <p class="preco">R$ 99,99</p>
              
              <div class="divVerde2">
                
                <p class="comprar2">Comprar</p>
       </div>
       <img src="/img/carrinho.png" class="carrinho4">
            </div>
            
                      <img src="/img/carrinho.png" class="carrinho">
                     
                      <div class="vendedor2">Vendedor 2
                        
                        <p class="classificacao">99,80%</p>
                        <p class="vendas">12,74</p>
                        <p class="preco">R$ 99,99</p>
                        
                        <div class="divVerde2">
                          
                          <p class="comprar2">Comprar</p>
                 </div>
                 <img src="/img/carrinho.png" class="carrinho2">
                      </div>
                       
                      <div class="vendedor3">Vendedor 3
                        
                        <p class="classificacao">99,80%</p>
                        <p class="vendas">12,74</p>
                        <p class="preco">R$ 99,99</p>
                        
                        <div class="divVerde2">
                          
                          <p class="comprar2">Comprar</p>
                 </div>
                 <img src="/img/carrinho.png" class="carrinho3">
                      </div>

                      <div class="vendedor4">Vendedor 4
                        
                        <p class="classificacao">99,80%</p>
                        <p class="vendas">12,74</p>
                        <p class="preco">R$ 99,99</p>
                        
                        <div class="divVerde2">
                          
                          <p class="comprar2">Comprar</p>
                 </div>
                 <img src="/img/carrinho.png" class="carrinho4">
                      </div>
                      <div class="vendedor5">Vendedor 5
                                
                                <p class="classificacao">99,80%</p>
                                <p class="vendas">12,74</p>
                                <p class="preco">R$ 99,99</p>
                                        <div class="divVerde2">
                                                    <p class="comprar2">Comprar</p>
                                        </div>
                                                    <img src="/img/carrinho.png" class="carrinho5">

                      </div>
                      <div class="vendedor6">Vendedor 6
                                    <p class="classificacao">99,80%</p>
                                    <p class="vendas">12,74</p>
                                    <p class="preco">R$ 99,99</p>
                                            <div class="divVerde2">
                                                      <p class="comprar2">Comprar</p>
                                            </div>
                                            <img src="/img/carrinho.png" class="carrinho6">
                      </div>

                     
          </div>
          
        
        
        </div>
         



        <div class="acimaDaDireita">
          
          <p class="pp1">Idiomas</p> 
          <p class="pp2">Interface</p>
          <p class="dublagem">Dublagem</p>
          <p class="legenda">Legenda</p>
          <p class="pp3"> Português</p>
          <p class="pp4">Inglês</p>
          <p class="pp5">Francês</p>
          <p class="pp6">Alemão</p>
          <p class="pp7">Espanhol (Espanha)</p>
          <p class="pp8">Ver todos os 10 idiomas</p>
          <img src="/img/tick.png" class="ticket">
          <img src="/img/tick.png" class="ticket2">
          <img src="/img/tick.png" class="ticket3">
          <img src="/img/tick.png" class="ticket4">
          <img src="/img/tick.png" class="ticket5">
          <img src="/img/tick.png" class="ticket6">
          <img src="/img/tick.png" class="ticket7">
          <img src="/img/tick.png" class="ticket8">
          <img src="/img/tick.png" class="ticket9">
          <img src="/img/tick.png" class="ticket10">
          <img src="/img/tick.png" class="ticket11">
          <img src="/img/tick.png" class="ticket12">
          <img src="/img/tick.png" class="ticket13">
          <img src="/img/tick.png" class="ticket14">
          <img src="/img/tick.png" class="ticket15">


       </div>

        <div class="Divdireita"></div>
         
    </main>
<%- include('parts/foot'); %>