<%- include('parts/head',{title:'Game Traders'}); %>
    <link rel="stylesheet" href="/css/stylestreaming.css" /><!-- Seu estilo CSS aqui -->
    <main>
      <div class="slideshow-container">
        <div class="mySlides fade">
          <img src="./img/rafa-img/Imagens carrossel (6).jpg" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="./img/rafa-img/Live2.jpg" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="./img/rafa-img/lives3.jpg" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="./img/rafa-img/lives4 (1).jpg" style="width:100%">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
        </div>
        <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }
        </script>
    </div>
    <div class = "categorias">
      <nav>
          <ul>
              <li><a href="">PC</a></li>
              <li><a href="">XBOX</a></li>
              <li><a href="">PLAYSTATION</a></li>
              <li><a href="">NINTENDO</a></li>
              <li><a href="">INDIES</a></li>
          </ul>
      </nav>
      <div class = "boxBuscar">Buscar</div>
      <img src="./img/lupa.png" alt="">
  </div>
  <div class = "boxCentral">
    <div class = "emAlta">
      <img src="./img/hollow-knight.jfif" alt="">
      <div class="textJogo">
        <div><h3>Hollow Knight</h3>
        <p>Espectadores 999 ● Seguidores 999 </p>
        </div>
        <button class="seguir">Seguir <img src="img/rafa-img/white-heart-137.png"> </button>
      </div>
    </div>
    <div class="blocoCarrossel">
      <div id="Aovivo">
        <h3>Canais Aovivo
          <img src="/img/rafa-img/play-icon-png-transparent-14.jpg" alt="">
        </h3>
        <div class="Live">
          <ul>
            <li>
              <img src="img/rafa-img/Espec 1.JPG" alt="">
            </li>
            <li>
              <img src="img/rafa-img/espec 2.JPG" alt="">
            </li>
            <li>
              <img src="img/rafa-img/espec 3.JPG" alt="">
            </li>
            <li>
              <img src="img/rafa-img/espec 4.JPG" alt="">
            </li>
          </ul>
        </div>
      </div>
      <div id='Videos'>
        <h3>Vídeos
          <img src="/img/rafa-img/play-icon-png-transparent-14.jpg" alt="">
        </h3>
        <div class="gamePlay">
          <ul>
            <li>
              <img src="img/rafa-img/youtube.JPG" alt="">
            </li>
            <li>
              <img src="img/rafa-img/youtube 2.JPG" alt="">
            </li>
            <li>
              <img src="img/rafa-img/youtube 3.jpg" alt="">
            </li>
            <li>
              <img src="img/rafa-img/youtube 4.jpg" alt="">
            </li>
          </ul>
        </div>
      </div>
    </div>
    </main>
<%- include('parts/foot'); %>