* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(33,48,70);
    background-color: linear-gradient(180deg, rgba(33,48,70,1) 70%, rgba(23,36,55,0.78) 90%, rgba(48,80,129,0.68) 100%);
}
.logo{
    height: 64px;
    margin-left: 8px;
}
.botoesHeader{
    background: #54539c;
    border-radius: 7px;
    padding: 10px;
    color: #ffff;
    border: none;
    font-size: 18px;
    margin-right: 24px;
    position: absolute;
    right: 0px;
    top: calc(50% - 23px);
}
.botoesHeader:hover{
  background-color: #7C78A8;
}
header > .containerHeader > nav > ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
header > .containerHeader > nav > ul > li{
    display: inline-block;
}
header > .containerHeader > nav > ul > li > a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
header > .containerHeader > nav > ul > li > a:hover{
  background-color: #7C78A8;
}
.containerHeader{
  max-width: 1360px;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
header{
    /* display: flex;
    align-items: center; */
    height: 66px;
    background-color:  #07001F;
    /* position: relative; */
    /* max-width: 1360px; */
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
main{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.containerFooter{
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}
.site-footer{
  background-color:#07001F;
  padding:20px 13px 20px 13px;
  font-size:16px;
  color: white;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.linha1{
    display: flex;
}
.linha2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col1{
    width: 650px;
    text-align: justify;
    margin-right: 50px;
}
.col2{
    width: 200px;
}
.col3{
    width: 200px;
}
.site-footer hr{
  border-top-color:#7C78A8;
  opacity:0.5;
}
.site-footer hr.small
{
  margin:20px 0;
}
.site-footer h6
{
  color:white;
  font-size:20px;
  text-transform:uppercase;
  margin-top:0px;
  margin-bottom: 0;
}
.footer-links{
  padding-left: 0;
  list-style: none;
}
.footer-links li{
  display: block;
}
.footer-links a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
  color:#7C78A8;
  text-decoration :none;
}

.site-footer .social-icons a{
  width:40px;
  height:40px;
  margin-left:8px;
  border-radius:100%;
  display:inline-block;
}
.copyright-text{
  margin: 0;
}
.social-icons{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}
.social-icons li{
  display:inline-block;
}
.facebook{
  background-image: url("https://seeklogo.com/images/F/facebook-logo-966BBFBC34-seeklogo.com.png");
  background-size: cover;
}
.instagram{
  background-image: url("https://seeklogo.com/images/I/instagram-logo-3368394263-seeklogo.com.jpg");
  background-size: cover;
}
.whatsapp{
  background-image: url("https://seeklogo.com/images/W/whatsapp-icon-logo-BDC0A8063B-seeklogo.com.png");
  background-size: cover;
}

.menu {
  z-index: 100;
  position: absolute;
  right: 0px;
  display: inline-block;
  background: #54539c;
  color: #fff;
  margin-right: 8px;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  width: 210px;
  max-width: 210px;
}

.menu:active{
  transform: scale(0.98);
}

.menu img {
  background: #54539c;
  height: 3rem;
  width: 3rem;
  vertical-align: middle;
  margin: 0.2rem 0.2rem 0.2rem 0.5rem;
  border-radius: 50%;
}
.menu span {
  display: inline-block;
  vertical-align: middle;
  width: 125px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  margin-left: 0.2rem;
}
.submenu {
  z-index: 100;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
  position: absolute;
  top: 100%;
  right: 0;
  margin-right: 8px;
  border-radius: 5px;
  width: 210px;
  max-width: 210px;
}
.submenu li a {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.submenu li a i {
  font-size: 1.3rem;
  vertical-align: middle;
  margin: 0 0.75rem 0 -0.25rem;
}
.submenu li a:hover {
  background: #7C78A8;
  color: #fff;
}
.submenu li:first-child a:hover {
  border-radius: 5px 5px 0 0;
}
.submenu li:last-child a:hover {
  border-radius: 0 0 5px 5px;
}

@media (max-width: 540px){
  .logo{
    height: 24px;
    margin-left: 1px;
    margin-top: 1px;
  }
  .botoesHeader{
    font-size: 11px;
    margin-right: 2px;
    position: absolute;
    right: 0px;
    top: 4px;
    border-radius: 4px;
    padding: 3px;
  }
  header > .containerHeader > nav > ul > li > a{
    padding: 4px 4px;
    color: white;
    font-size: 11px;
  }
  header{
    height: 25px;
  }

  .site-footer{
    padding:10px 7px 10px 7px;
    font-size:8px;
  }
  .col1{
    width: 60%;
    margin-right: 8px;
  }
  .col2{
    width: 20%;
  }
  .col3{
    width: 20%;
  }
  site-footer hr.small{
    margin:5px 0;
  }
  .site-footer h6{
    font-size:9px;
  }
  .footer-links a{
    font-size: 8px;
  }
  .site-footer .social-icons a{
    width:16px;
    height:16px;
    margin-left:4px;
  }
}
@media (max-width: 1359px){
  .logo{
    height: 34px;
    margin-left: 1px;
    margin-top: 1px;
  }
  .botoesHeader{
    font-size: 14px;
    margin-right: 4px;
    right: 2px;
    top: calc(50% - 11px);
    border-radius: 10px;
    padding: 3px;
  }
  header > .containerHeader > nav > ul > li > a{
    padding: 6px 6px;
    color: white;
    font-size: 14px;
  }
  header{
    height: 36px;
  }

  .site-footer{
    padding:10px 7px 10px 7px;
    font-size:10px;
  }
  .col1{
    width: 60%;
    margin-right: 16px;
  }
  .col2{
    width: 15%;
  }
  .col3{
    width: 25%;
  }
  site-footer hr.small{
    margin:8px 0;
  }
  .site-footer h6{
    font-size:11px;
  }
  .footer-links a{
    font-size: 10px;
  }
  .site-footer .social-icons a{
    width:20px;
    height:20px;
    margin-left:8px;
  }
}